<h1 class="text-center">
  <%= I18n.t('views.guest.registration.title') %>
</h1>

<%= @presenter.render_register_form %>

<hr />

<a href="<%= root_path %>" class="w-100 btn btn-primary btn-block">
  <%= I18n.t('views.guest.sign_in') %>
</a>
