<div class="row-fluid">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong><%= I18n.t('views.admin.users.heads_up') %>!</strong>
    <%= I18n.t('views.admin.users.new.message') %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <%= @presenter.render_new_user_form %>
</div>
