<div class="row-fluid">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Atenção!</strong>
    A panilha será importada de forma transacional, ou seja, se algum erro ocorrer durante o processo,
    nenhuma alteração será feita no banco de dados.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <%= @presenter.render_upload_spreadsheet_form %>
</div>
