################################################################################
# .env.development File Template
#
# This file is a template with several environment variables that could
# contain sensitive data, such as passwords, API secrets, etc.
#
# This file SHOULD NOT be edited directly (this is just a template!), as it is
# meant to be checked-in in version control. The file that should be edited is
# located at '/env.development.local'.
################################################################################

RACK_ENV=development
RAILS_ENV=development
CI=false
RAILS_MIN_THREADS=5
RAILS_MAX_THREADS=5
SECRET_KEY_BASE=9cb745178b1c491c36abb5277e1f7b4a7887a801499ed60fcdf8ba35322c3a20
DATABASE_URL=postgresql://postgres:@database/management_development?pool=10
DEFAULT_PORT=3000
RAILS_SERVE_STATIC_FILES=false
RAILS_LOG_TO_STDOUT=false
PIDFILE=tmp/pids/server.pid
S3_ACCESS_KEY=minioadmin
S3_ACCESS_KEY_SECRET=minioadmin
S3_ENDPOINT=http://minio:9000
S3_BUCKET=development
S3_REGION=br-east-1
MIN_PASSWORD_LENGTH=6
MAX_PASSWORD_LENGTH=128
REDIS_URL=redis://redis:6379/0
SMTP_ADDRESS=maildev
SMTP_PORT=1025
APP_URL=localhost
DEFAULT_ASSET_HOST=http://localhost:9000

# Only development environments variables
OVERMIND_SOCKET=tmp/pids/.overmind.sock
